<section>
  <%= link_to 'Home', landing_page_path %>

  <h2>My Anime Collections - <span> <%= link_to 'New Collection', new_collection_path %> </span></h2>
  

  <%# Collections' name %>
  <% @collections.each do |c| %>
    <h3> <%= link_to "#{c.name}", collection_path(c) %> </h3>
  <% end %>
</section>