<header class="relative bg-slate-600 flex flex-row py-5 justify-between">

  <div class=" ml-10 flex flex-row gap-x-3 text-white">
     <%= link_to "Manga", all_manga_path %>
    <%= link_to 'Anime', all_anime_path %>
  </div>
   
    <div class=" mr-10 flex flex-row gap-x-3 text-white">
    <p>My Profile</p>
    <%= link_to 'Collections', collections_path %>
    </div>
    
</header>

<section>
  <div>
    <p>Anime list (5)</p>
  </div>

  <div>
    <%= link_to "Log-out", destroy_user_session_path, 
      data: {
        "turbo-method": :delete,
        "turbo-confirm": "Log-out my account"
      } 
    %>
  </div>
</section>