<header>
    <p>Link to my profile</p>
    <p>link to manga</p>
     <%= link_to 'Anime', all_anime_path %>
</header>

<section>
  <div>
    <p>Anime list (5)</p>
  </div>

  <div>
    <%= link_to "Log-out", destroy_user_session_path, 
      data: {
        "turbo-method": :delete,
        "turbo-confirm": "Log-out my account"
      } 
    %>
  </div>
</section>