<header>
  <p>My Profile</p>
    <%= link_to "Manga", all_manga_path %>
    <%= link_to 'Anime', all_anime_path %>
    <%= link_to 'Collections', collections_path %>
</header>

<section>
  <div>
    <p>Anime list (5)</p>
  </div>

  <div>
    <%= link_to "Log-out", destroy_user_session_path, 
      data: {
        "turbo-method": :delete,
        "turbo-confirm": "Log-out my account"
      } 
    %>
  </div>
</section>